<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingdian.family.tree.dao.UserMapper">
    <insert id="saveNewUser">
        insert into user (openid,family_id,tree_id,exp) values (#{openid},#{familyId},#{treeId},#{exp});
    </insert>

    <select id="getUserInfo" resultType="com.dingdian.family.tree.pojo.po.User" parameterType="java.lang.String">
        select
            family_id,
            tree_id,
            exp
        from user where openid =  #{openid};
    </select>

    <insert id="savePaper">
        insert into paper (authorOpenid,family_id,tree_id,content) values (#{authorOpenid},#{familyId},#{treeId},#{content});
    </insert>

    <select id="getPaper" resultType="com.dingdian.family.tree.pojo.po.Paper" parameterType="java.lang.String">
        select
            content
        from user where tree_id =  #{tree_id};
    </select>

    <!--    <update id="saveMaxReply">-->
    <!--        update summary.dis_forum_mycount set subject_replies = #{subject}, replies = #{replies} where authorid = #{authorid}-->
    <!--    </update>-->

<!--    <select id="selAuthorPostPid" resultType="com.star.bbs.summary.pojo.po.Author" parameterType="java.lang.Integer">-->
<!--        select-->
<!--            authorid,-->
<!--            any_value(author) as author,-->
<!--            group_concat(pid) as pidset-->
<!--        from dis_forum_post GROUP BY authorid;-->
<!--    </select>-->
</mapper>
