<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingdian.family.tree.dao.UserMapper">
    <insert id="saveNewUser">
        insert into user (openid,family_id,tree_id,exp,nickname,icon_url) values (#{openid},#{familyId},#{treeId},#{exp},#{nickname},#{iconUrl});
    </insert>

    <insert id="saveNewFamily">
        insert into family
                    (family_id,tree_id,family_exp,family_member)
            values
                   (#{familyId},#{treeId},#{familyExp},#{familyMember});
    </insert>

    <insert id="saveNewTree">
        insert into tree
            (tree_id,tree_exp,tree_member)
        values
            (#{treeId},#{treeExp},#{treeMember});
    </insert>

    <select id="getUserInfo" resultType="com.dingdian.family.tree.pojo.po.User" parameterType="java.lang.String">
        select
            openid,
            family_id,
            tree_id,
            exp,
            nickname,
            icon_url
        from user where openid =  #{openid};
    </select>

    <insert id="savePaper">
        insert into paper (author_openid,family_id,tree_id,content) values (#{authorOpenid},#{familyId},#{treeId},#{content});
    </insert>

    <select id="getPaper" resultType="com.dingdian.family.tree.pojo.po.Paper" parameterType="java.lang.String">
        select
            author_openid,
            content,
            paper_id,
            family_id,
            tree_id
        from paper where tree_id =  #{treeId};
    </select>

    <insert id="saveComment">
        insert into comment (author_openid,paper_id,content) values (#{authorOpenid},#{paperId},#{content});
    </insert>

    <select id="getComment" resultType="com.dingdian.family.tree.pojo.po.Comment" parameterType="java.lang.String">
        select
               author_openid,
               paper_id,
               content
        from comment where paper_id =  #{paperId};
    </select>

    <select id="getFamily" resultType="com.dingdian.family.tree.pojo.po.Family" parameterType="java.lang.String">
        select
            family_id,tree_id,family_exp,family_member
        from family where family_id =  #{family_id};
    </select>

    <select id="getTree" resultType="com.dingdian.family.tree.pojo.po.Tree" parameterType="java.lang.String">
        select
            tree_id,tree_exp,tree_member
        from tree where tree_id =  #{tree_id};
    </select>

    <update id="updateUser">
        update user set
            exp = #{exp}
        where openid = #{openid};
    </update>

    <update id="updateFamily">
        update family set
            family_exp = #{familyExp}
        where family_id = #{familyId};
    </update>

    <update id="updateTree">
        update tree set
            tree_exp = #{treeExp}
        where tree_id = #{treeId};
    </update>

    <select id="getAllUser" resultType="com.dingdian.family.tree.pojo.po.User" parameterType="java.lang.String">
        select
            *
        from user where tree_id = #{tree_id};
    </select>

    <select id="getAllFamily" resultType="com.dingdian.family.tree.pojo.po.Family" parameterType="java.lang.String">
        select
            family_id,tree_id,family_exp,family_member
        from family where tree_id = #{tree_id};
    </select>
    <!--    <update id="saveMaxReply">-->
    <!--        update summary.dis_forum_mycount set subject_replies = #{subject}, replies = #{replies} where authorid = #{authorid}-->
    <!--    </update>-->

<!--    <select id="selAuthorPostPid" resultType="com.star.bbs.summary.pojo.po.Author" parameterType="java.lang.Integer">-->
<!--        select-->
<!--            authorid,-->
<!--            any_value(author) as author,-->
<!--            group_concat(pid) as pidset-->
<!--        from dis_forum_post GROUP BY authorid;-->
<!--    </select>-->
</mapper>
